<% if current_user && current_user.admin %>  
  <div class="container">
    <div class="margin-top">
      <h1 style="color:<%= @size.color %>">Items from <%= @size.title %></h1>
    </div>
    <% @SizeItem.each do |sizeItem| %>
      <div class="margin-top">
        <div class="card"> 
            <h1 class="text-uppercase"><%= Item.find(sizeItem.item_id).name %></h1>
            <p><strong>Description:</strong> <%= Item.find(sizeItem.item_id).description %></p>
            <p><strong>Price:</strong> <%= Item.find(sizeItem.item_id).price %>$</p>
            <p><strong>Stock:</strong> <%= Item.find(sizeItem.item_id).stock %></p>
          <div>
            <% if current_user && current_user.admin%>
              <%= link_to 'Edit', edit_item_path(sizeItem.item_id), :class=> "btn btn-success btn-lg" %> 
            <% end %>
            <%= link_to 'Show', item_path(sizeItem.item_id), :class=> "btn btn-primary btn-lg" %>
            <%= link_to 'Back', sizes_path, :class=> "btn btn-secondary btn-lg" %>
          </div>
        </div>
      </div>
    <%end%>
  </div>
<%end%>